<footer>
  <div class="container">
    <div class="content">
      <div id="footerlogo">
        <a href="http://www.youpeiban.org/" data-escp="">YOUpeiban</a>
      </div>
      <p>
        <!--
        <a href="https://help.github.com/articles/github-terms-of-service">Terms of Service</a> •
        <a href="https://help.github.com/articles/github-privacy-policy">Privacy</a> •
        <a href="https://help.github.com/articles/github-security">Security</a>
        -->
        <br />
        © 2015 YOU Penban org. All rights reserved.
      </p>
    </div>
  </div>
</footer>
