<div class="top-bar">&nbsp;</div>
<header>
  <div class="container">
    <h1 id="logo" class="content">
      <a href="{{ site.url }}/" data-escp="">YOU 陪伴计划</a>
    </h1>
    <nav id="nav">
      <ul class="content">
        <li{% if page.body_class == 'overview' %} class="current"{% endif %}>
          <a href="{{ site.url }}/">首页</a>
        </li>
        <li{% if page.body_class == 'trainers' %} class="current"{% endif %}>
          <a href="{{ site.url }}/trainers/">公益发起人</a>
        </li>
        <li{% if page.body_class == 'web' %} class="current"{% endif %}>
          <a href="{{ site.url }}/angels/">追梦天使</a>
        </li>
        <li{% if page.body_class == 'in-person' %} class="current"{% endif %}>
          <a href="{{ site.url }}/volunteers/">筑梦天使</a>
        </li>
        <li{% if page.body_class == 'resources' %} class="current"{% endif %}>
          <a href="{{ site.url }}/partners/">合作伙伴</a>
        </li>
        <li{% if page.body_class == 'contact' %} class="current"{% endif %}>
          <a href="{{ site.url }}/contact/">关于我们</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
