<div class="container page-bottom">
  <div class="golden-small">
    <div class="content">
      {% unless page.body_class == 'contact' %}
        <h3>合作伙伴</h3>
        <p>为了让更多的天使丰满自己的羽翼，实现自己的梦想，我们需要更多来自社会的力量。如果您也愿意与我们同行，与我们共同筑梦，我们欢迎您的合作与帮助。让我们一同为梦想的事业而努力！</p>
        <p class="more"><a href="/contact/" class="">同我们一起筑梦 »</a></p>
      {% else %}
        <h3>Meet your trainers</h3>
        <p>Our trainers are experts when it comes to helping you become truly competent using GitHub and Git to get work done. They are professional, down-to-earth, and a pleasure to deal with.</p>
        <p class="more"><a href="/trainers/" class="">Meet our Git experts »</a></p>
      {% endunless %}
    </div>
  </div>

</div>
