<div class="container page-bottom">
  <div class="golden-small">
    <div class="content">
      {% unless page.body_class == 'contact' %}
        <h3>新闻动态</h3>
        <p>YOU陪伴的精彩，是所有追梦天使与筑梦天使共同努力的成功。在这里，我们记录每次YOU陪伴运营和活动的新闻，让我们共同回忆，共同监督，共同进步！</p>
        <p class="more"><a href="/news/" class="">YOU陪伴新闻中心 »</a></p>
      {% else %}
        <h3>Meet your trainers</h3>
        <p>Our trainers are experts when it comes to helping you become truly competent using GitHub and Git to get work done. They are professional, down-to-earth, and a pleasure to deal with.</p>
        <p class="more"><a href="/trainers/" class="">Meet our Git experts »</a></p>
      {% endunless %}
    </div>
  </div>

</div>
