---
layout: news
subpage: foundations
prerequisites: Basic knowledge about a version control system is recommended, whether that be Subversion, CVS, Perforce, StarTeam, SourceSafe, ClearCase or any similar product.
---

<div class="container">
  {% for post in paginator.posts %}
  <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
  {% if post.content contains "&nbsp;" %}
  {{ post.content | split:"&nbsp;" | first }}
  {% else %}
  {{ post.content | strip_html | truncate:250 }}
  {% endif %}
  {% endfor %}

  <!-- Pagination links -->
  <div class="pull-right">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="btn btn-primary btn-sm" href="/">首页</a>
    <a class="btn btn-primary btn-sm" href="/">&laquo; 上一页</a>
    {% else %}
    <a class="btn btn-primary btn-sm" href="/">首页</a>
    <a class="btn btn-primary btn-sm" href="/page{{paginator.previous_page}}/">&laquo; 上一页</a>
    {% endif %}
    {% else %}
    <span><a class="btn btn-primary btn-sm disabled" href="/">首页</a></span>
    <span><a class="btn btn-primary btn-sm disabled">&laquo; 上一页</a></span>
    {% endif %}
    <span><a class="btn btn-primary btn-sm disabled">Page: {{paginator.page}} of {{paginator.total_pages}}</a></span>
    {% if paginator.next_page %}
    <a class="btn btn-primary btn-sm" href="/page{{paginator.next_page}}/">下一页 &raquo;</a>
    <a class="btn btn-primary btn-sm" href="/page{{paginator.total_pages}}/">末页</a>
    {% else if paginator.page == paginator.total_pages %}
    <span><a class="btn btn-primary btn-sm disabled">下一页 &raquo;</a></span>
    <span><a class="btn btn-primary btn-sm disabled">末页</a></span>
    {% endif %}
  </div>
</div>