---
layout: default
body_class: in-person
title: 逐梦天使的精神家园
html_title: 筑梦天使
byline: 在这里让我们一起将铸就梦想作为光荣的事业，让更多天使飞翔！
---

<div class="subpage-list">
  <ul>
    <li{% if page.subpage == 'foundations' %} class="current"{% endif %}>
      <a href="{{ site.url }}/volunteers/intro-volunteers/">YOU陪伴的筑梦天使是什么？</a>
    </li>
    <li{% if page.subpage == 'advanced' %} class="current"{% endif %}>
      <a href="{{ site.url }}/volunteers/tobe-volunteers/">成为YOU陪伴的筑梦天使！</a>
    </li>
    <li{% if page.subpage == 'special' %} class="current"{% endif %}>
      <a href="{{ site.url }}/volunteers/our-story/">筑梦天使的故事</a>
    </li>
  </ul>
</div>

<div class="container">
  {{ content }}
</div>
