---
layout: default
body_class: resources
title: YOU陪伴的合作伙伴们
html_title: 合作伙伴
byline: 与我们合作，贡献您的力量，成就未来的梦想！
---

<div class="subpage-list">
  <ul>
    <li{% if page.subpage == 'classes' %} class="current"{% endif %}>
      <a href="{{ site.url }}/partners/intro-partners/">合作伙伴介绍</a>
    </li>
    <li{% if page.subpage == 'foundations' %} class="current"{% endif %}>
      <a href="{{ site.url }}/partners/tobe-partners/">成为我们的合作伙伴</a>
    </li>
    <li{% if page.subpage == 'advanced' %} class="current"{% endif %}>
      <a href="{{ site.url }}/partners/our-story/">合作伙伴的故事</a>
    </li>
  </ul>
</div>

