---
layout: default
body_class: web
title: 追梦天使的蓝色天空
html_title: 追梦天使
byline: 梦想因你们而美丽，在这里我们为你插上飞翔的翅膀！
---

<div class="subpage-list">
  <ul>
    <li{% if page.subpage == 'classes' %} class="current"{% endif %}>
      <a href="{{ site.url }}/angels/intro-angels/">YOU陪伴的追梦天使是什么？</a>
    </li>
    <li{% if page.subpage == 'foundations' %} class="current"{% endif %}>
      <a href="{{ site.url }}/angels/tobe-angel/">成为YOU陪伴的追梦天使！</a>
    </li>
    <li{% if page.subpage == 'advanced' %} class="current"{% endif %}>
      <a href="{{ site.url }}/angels/our-story/">追梦天使的故事</a>
    </li>
  </ul>
</div>

<div class="container">
  {{ content }}
</div>
